<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601}{Canada/Eastern} %p %c{}.%M() [%t] %m %ex%n"/>
        </Console>
		
        <RollingRandomAccessFile
            name="StatusLogFile"
            fileName="standalone_${sys:domainName}/log/myservice_status_${hostName}.log"
            filePattern="standalone_${sys:domainName}/log/myservice_status_${hostName}.%i.log.gz"
            immediateFlush="false"
            ignoreExceptions="true">
            <PatternLayout pattern="%d %p %c{}.%M() [%t] %m %ex%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingRandomAccessFile>  
        <RollingRandomAccessFile
            name="RequestLogFile"
            fileName="standalone_${sys:domainName}/log/myservice_requests_${hostName}.log"
            filePattern="standalone_${sys:domainName}/log/myservice_requests_${hostName}.%i.log.gz"
            immediateFlush="false"
            ignoreExceptions="true">
            <PatternLayout pattern="%d %p %c{}.%M() [%t] %m %ex%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="15MB" />
            </Policies>
            <DefaultRolloverStrategy max="500" />
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="warn" includeLocation="true">
            <AppenderRef ref="StatusLogFile"/>
            <!-- <AppenderRef ref="Console"/>-->
        </Root>
        <Logger level="info" name="com" includeLocation="true"/>
        <Logger level="warn" name="io.netty" includeLocation="true"/>
        <Logger level="info" name="org.summerframework.boot" includeLocation="true"/>
        <Logger level="info" name="org.summerframework.nio.server.HttpConfig" includeLocation="true"/>
        <Logger level="info" name="org.summerframework.nio.server.NioServerHttpInitializer" includeLocation="true"/> 
        <Logger level="debug" name="org.summerframework.nio.server.NioServer" includeLocation="true"/>
        <Logger level="info" name="org.summerframework.nio.server.BootHttpRequestHandler" includeLocation="false" additivity="false">
            <AppenderRef ref="RequestLogFile"/>
            <!-- <AppenderRef ref="Console"/>-->
        </Logger>
        <Logger level="info" name="myservice" includeLocation="true" additivity="false">
            <AppenderRef ref="RequestLogFile"/>
            <!-- <AppenderRef ref="Console"/>-->
        </Logger>
        <Logger level="warn" name="org.hibernate.SQL" includeLocation="true" additivity="false">
            <AppenderRef ref="RequestLogFile"/>
            <!--<AppenderRef ref="Console"/> -->
        </Logger>
    </Loggers>
    
</Configuration>
